@page "/administrarTiempos"
@using BlazorAppHuellero.Services.DTOs.Login
@using BlazorAppHuellero.Services.DTOs.Horarios
@using BlazorAppHuellero.Services.DTOs.AdministrarTiempos;
@attribute [Authorize]
@inject IDialogService DialogService


<div class="d-flex justify-center mt-1 py-1">
    <MudPaper Class="pb-0" Elevation="1" Style="width: 50%; height:100%">

        <MudContainer Class="d-flex align-center pl-1 py-1 pr-0" Style="@titleBarStyle">
            <MudImage Src="images/Simbolo.png" Alt="Sisma" />
            <MudText Style="font-size: 23px;width:100%">Administracion de Tiempos</MudText>

            <MudContainer Class="d-flex justify-end pr-0">
                <MudButton Size="Size.Small" Style="min-width:0" @onclick="FetchRegistros">
                    <MudImage Src="images/nuevo.png" Alt="Nuevo" title="Nuevo" />
                </MudButton>
                <MudButton Size="Size.Small" Style="min-width:0" @onclick="() => Buscar(null)">
                    <MudImage Src="images/Consulta.png" Alt="Consultar" title="Consultar" />
                </MudButton>
                <MudButton Size="Size.Small" Style="min-width:0" @onclick="AlimentarBase">
                    <MudImage Src="images/registros.png" Alt="Recibir datos del huellero" title="Recibir datos del huellero" />
                </MudButton>
                <MudButton Size="Size.Small" Style="min-width:0" @onclick="ExportToPdf">
                    <MudImage Src="images/imprimir.png" Alt="Imprimir" title="Imprimir" />
                </MudButton>
            </MudContainer>
        </MudContainer>

        <MudGrid Spacing="1" Class="mt-3 px-1">
            <MudItem Class="mx-0 ml-4" xs="12" sm="3">
                <MudText Style="color:#336699;">Lider</MudText>
            </MudItem>
            <MudItem Class="mx-0" xs="12" sm="5">
                <MudTextField ShrinkLabel @bind-Value="Empleado.Nombre"
                              InputType="InputType.Text"
                              Required="true"
                              RequiredError="El Input Descripcion es requerido"
                              Variant="Variant.Outlined"
                              Margin="Margin.Dense"
                              Style="height:20px">
                </MudTextField>
            </MudItem>
            <MudItem Class="mx-0" xs="12" sm="3">
                <MudIcon Icon="@Icons.Material.Filled.Search" @onclick="BuscarEmpleados" Title="Buscar" Class="cursor-pointer" />
            </MudItem>
            <MudItem Class="mx-0 ml-4" xs="12" sm="3">
                <MudText Style="color:#336699;">Periodo de entrada</MudText>
            </MudItem>
            <MudItem Class="mx-0" xs="12" sm="5">
                <MudDateRangePicker @bind-DateRange="@_dateRange" Margin="Margin.Dense" Variant="Variant.Outlined" />
            </MudItem>
        </MudGrid>

        <MudDataGrid HeaderClass="data-grid-header" T="RegistrosTiemposDTO" ReadOnly="false" Items="Registros" Class="mb-0" FilterMode="DataGridFilterMode.Simple"
                     Dense="true" Striped="true" Bordered="true" Virtualize="false" RowStyleFunc="@_rowStyleFunc" CommittedItemChanges="@ActualizarRegistro"
                     EditMode="DataGridEditMode.Form" EditTrigger="DataGridEditTrigger.Manual" >
            <Columns>
                <PropertyColumn Property="x => x.IdUsuario" Hidden="true" Title="Id Usuario" Editable="false" Style="visibility: hidden;"
                                HeaderClass="header-grid"
                                CellClass="data-grid-cell">
                <EditTemplate>
                    </EditTemplate>
                </PropertyColumn>
                <PropertyColumn Property="x => x.IdHorario" Hidden="true" Title="Id Horario" Editable="false" Style="visibility: hidden;"
                                HeaderClass="header-grid"
                                CellClass="data-grid-cell" >
                <EditTemplate>
                    </EditTemplate>
                </PropertyColumn>
                <PropertyColumn Property="x => x.IdEntrada" Hidden="true" Title="Id Entrada" Editable="false" Style="visibility: hidden;"
                                HeaderClass="header-grid"
                                CellClass="data-grid-cell" >
                    <EditTemplate>
                    </EditTemplate>
                </PropertyColumn>
                <PropertyColumn Property="x => x.IdSalida" Hidden="true" Title="Id Salida" Editable="false" Style="visibility: hidden;"
                                HeaderClass="header-grid"
                                CellClass="data-grid-cell" >
                    <EditTemplate>
                    </EditTemplate>
                </PropertyColumn>

                <PropertyColumn Property="x => x.Empleado" Title="Empleado" Filterable="true" Editable="false"
                                HeaderClass="header-grid"
                                CellClass="data-grid-cell"
                                HeaderStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;"
                                CellStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;" />

                <PropertyColumn Property="x => x.HoraEntrada" Title="Hora Entrada"
                                HeaderClass="header-grid"
                                CellClass="data-grid-cell" Style="max-width:150px !important"
                                HeaderStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;"
                                CellStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;">
                    <EditTemplate>
                        <MudTextField ShrinkLabel @bind-Value="context.Item.HoraEntrada"
                                      InputType="InputType.Text"
                                      Variant="Variant.Outlined"
                                      Margin="Margin.Dense"
                                      Style="height:20px">
                        </MudTextField>
                    </EditTemplate>
                </PropertyColumn>

                <PropertyColumn Property="x => (x.HoraSalida)" Title="Hora Salida"
                                HeaderClass="header-grid"
                                CellClass="data-grid-cell" Style="max-width:150px !important"
                                HeaderStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;"
                                CellStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;">
                            <EditTemplate>
                            <MudTextField ShrinkLabel @bind-Value="context.Item.HoraSalida"
                                          InputType="InputType.Text"
                                          Variant="Variant.Outlined"
                                          Margin="Margin.Dense"
                                          Style="height:20px">
                            </MudTextField>
                            </EditTemplate>
                            </PropertyColumn>

                <PropertyColumn Property="x => x.Fecha" Title="Dia" Editable="false"
                                HeaderClass="header-grid"
                                CellClass="data-grid-cell" Style="max-width:150px !important"
                                HeaderStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;"
                                CellStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;" />

                <TemplateColumn Hidden="false"
                                HeaderClass="header-grid"
                                CellClass="data-grid-cell" Style="max-width:150px !important"
                                HeaderStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;"
                                CellStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;">
                    <CellTemplate>
                        <MudStack Row>
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="@((e) => BorrarRegistro(context.Item))" />
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="RegistrosTiemposDTO" />
            </PagerContent>
        </MudDataGrid>
        @if (isLoading)
        {
            <MudProgressLinear Indeterminate="true" Color="Color.Primary" />
        }


    </MudPaper>
</div>