@page "/crearUsuario"
@using ConsolaBlazor.Services.DTOs.CreacionUsuario

@attribute [Authorize]
@inject IDialogService DialogService


<div class="d-flex justify-center mt-1 py-1">
    <MudPaper Class="pb-0" Elevation="1" Style="width: 50%;  height:100%">

        <MudContainer Class="d-flex align-center pl-1 py-1 pr-0" Style="@titleBarStyle">
            <MudImage Src="images/Simbolo.png" Alt="Sisma" />
            <MudText Style="font-size: 23px; width:100%">Crear Usuario</MudText>

            <MudContainer Class="d-flex justify-end pr-0">
                <MudButton Size="Size.Small" Style="min-width:0" @onclick="Guardar">
                    <MudImage Src="images/guardar.png" Alt="Guardar" title="Guardar" />
                </MudButton>
                <MudButton Size="Size.Small" Style="min-width:0">
                    <MudImage Src="images/imprimir.png" Alt="Imprimir" title="Imprimir" />
                </MudButton>
            </MudContainer>
        </MudContainer>

        <MudGrid Spacing="1" Class="mt-3 px-1">
            <MudItem Class="mx-0 ml-4" xs="3">
                <MudText Style="color:#336699;">Nombre Completo</MudText>
            </MudItem>
            <MudItem Class="mx-0" xs="6" >
                <MudTextField ShrinkLabel @bind-Value="Usuario.Nombre"
                              InputType="InputType.Text"
                              Required="true"
                              RequiredError="El Nombre Completo es requerido"
                              Variant="Variant.Outlined"
                              Margin="Margin.Dense"
                              Style="height:20px">
                </MudTextField>
            </MudItem>
            <MudItem Class="mx-0 ml-4" xs="3">
                <MudText Style="color:#336699;">Tipo Identificacion</MudText>
            </MudItem>
            <MudItem Class="mx-0" xs="6" >
                <MudSelect ShrinkLabel @bind-Value="Usuario.Tipo_Identificacion"
                           Variant="Variant.Outlined"
                           Required="true" 
                           RequiredError="El Tipo de Identificacion es requerido"
                           Margin="Margin.Dense"
                           T="string"
                           Placeholder="Seleccione"
                           Style="height:20px !important font-size: 11px;">
                           @foreach (var state in Tipos_Identificacion)
                           {
                               <MudSelectItem Value="state.Codigo">@state.Descripcion</MudSelectItem>
                           }
                </MudSelect>
            </MudItem>
            <MudItem Class="mx-0 ml-4" xs="3">
                <MudText Style="color:#336699;">Numero Identificacion</MudText>
            </MudItem>
            <MudItem Class="mx-0" xs="6">
                <MudTextField ShrinkLabel @bind-Value="Usuario.Identificacion"
                              InputType="InputType.Text"
                              Required="true"
                              RequiredError="El Numero Identificacion es requerido"
                              Variant="Variant.Outlined"
                              Margin="Margin.Dense"
                              Style="height:20px">
                </MudTextField>
            </MudItem>
        </MudGrid>

        <MudDataGrid HeaderClass="data-grid-header" T="UsuarioDTO" ReadOnly="false" Items="Usuarios" Class="mb-0" FilterMode="DataGridFilterMode.Simple"
                     Dense="true" Striped="true" Bordered="true" Virtualize="true" CommittedItemChanges="@ActualizarUsuario"
                     EditMode="DataGridEditMode.Form" EditTrigger="DataGridEditTrigger.Manual">
            <Columns>
                <PropertyColumn Property="x => x.Id" Hidden="true" Title="Id" Editable="false"
                                HeaderClass="header-grid"
                                CellClass="data-grid-cell" />

                <PropertyColumn Property="x => x.Nombre" Title="Nombre Completo" Filterable="true"
                                HeaderClass="header-grid"
                                CellClass="data-grid-cell"
                                HeaderStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;"
                                CellStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;" />

                <PropertyColumn Property="x => x.Tipo_Identificacion" Title="Tipo Identificacion"
                                HeaderClass="header-grid"
                                CellClass="data-grid-cell" Style="max-width:150px !important"
                                HeaderStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;"
                                CellStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;">
                                <EditTemplate>
                                <MudSelect @bind-Value="context.Item.Tipo_Identificacion"
                                Required ShrinkLabel RequiredError="Debes seleccionar un tipo de identificacion"
                                Variant="Variant.Outlined"
                                Label="Tipo Identificacion"
                                Margin="Margin.Dense"
                                T="string"
                                Placeholder="Seleccione"
                                Style="height:20px !important font-size: 11px;">
                                    @foreach (var state in Tipos_Identificacion)
                                    {
                                        <MudSelectItem Value="state.Codigo">@state.Descripcion</MudSelectItem>
                                    }
                                    </MudSelect>
                                </EditTemplate>
                </PropertyColumn>
                    
                <PropertyColumn Property="x => x.Identificacion" Title="Numero Identificacion"
                                HeaderClass="header-grid"
                                CellClass="data-grid-cell" Style="max-width:150px !important"
                                HeaderStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;"
                                CellStyle="max-width:100px !important;word-wrap: break-word !important;white-space: normal !important;" />
                <TemplateColumn Hidden="false"
                                CellClass="d-flex justify-end align-center">
                    <CellTemplate>
                        <MudStack Row>
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" OnClick="@((e) => BorrarUsuario(context.Item))" />
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="UsuarioDTO" />
            </PagerContent>
        </MudDataGrid>



    </MudPaper>
</div>