
<MudDrawer @bind-Open="@open" Anchor="@anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">Menú</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
        <MudTreeView Items="TreeItems" Class="mt-7" Hover="true" T="LinkItemDTO">
            <ItemTemplate>
                <MudTreeViewItem @bind-Expanded="@context.Expanded" Items="context.Children" Value="context.Value">
                    <Content>
                        <MudTreeViewItemToggleButton @bind-Expanded="@context.Expanded" Visible="@context.HasChildren" />

                        @if(!string.IsNullOrEmpty(context.Value.Path))
                        {
                            <MudNavLink Href=@context.Value.Path Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AssignmentTurnedIn">@context.Value.Name</MudNavLink>
                        }
                        else
                        {
                            <h3>@context.Value.Name</h3>
                        }
                    </Content>
                </MudTreeViewItem>
            </ItemTemplate>
        </MudTreeView>

    </MudNavMenu>
</MudDrawer>



